<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag 'event_calendar' %>
<%= javascript_include_tag 'jquery' %>


	<div class="clear"> </div>
  	<div class="hr-invisible-small"> </div>



<div class="container">

	<div class="container" style="text-align:center;">
		<a href="#" id="althea" class='btn btn-large btn-success'>Althéa</a>
		<a href="#" id="begonia" class='btn btn-large btn-success' style="padding-left:10px;">Bégonia</a>
		<a href="#" id="camelia" class='btn btn-large btn-success' style="padding-left:10px;">Camélia</a>
		<a href="#" id="dhalia" class='btn btn-large btn-success' style="padding-left:10px;">Dhalia</a>
		<a href="#" id="erica" class='btn btn-large btn-success' style="padding-left:10px;">Erica</a>
		<a href="#" id="fuchsia" class='btn btn-large btn-success' style="padding-left:10px;">Fuchsia</a>
		<a href="#" id="gardenia" class='btn btn-large btn-success' style="padding-left:10px;">Gardenia</a>
		<a href="#" id="hortensia" class='btn btn-large btn-success' style="padding-left:10px;">Hortensia</a>
		<a href="#" id="iris" class='btn btn-large btn-success' style="padding-left:10px;">Iris</a>
		<a href="#" id="kiwi" class='btn btn-large btn-success' style="padding-left:10px;">Kiwi</a>
		<a href="#" id="lila" class='btn btn-large btn-success' style="padding-left:10px;">Lila</a>
	</div>

		<div class="clear"> </div>
      	<div class="hr-invisible-small"> </div>

	<%= raw(event_calendar) %>

</div>

<div class="hr-invisible-small"> </div>



<script type="text/javascript">

	$(document).ready(function(){

		$(".ec-event").hide();

	});

</script>


<script type="text/javascript">

	$(document).ready( function () {

		function showAlthea(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='althea']").parent().fadeToggle();
		}
		function showBegonia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='begonia']").parent().fadeToggle();
		}
		function showCamelia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='camelia']").parent().fadeToggle();
		}
		function showDhalia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='dhalia']").parent().fadeToggle();
		}
		function showErica(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='erica']").parent().fadeToggle();
		}
		function showFuchsia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='fuchsia']").parent().fadeToggle();
		}
		function showGardenia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='gardenia']").parent().fadeToggle();
		}
		function showHortensia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='hortensia']").parent().fadeToggle();
		}
		function showIris(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='iris']").parent().fadeToggle();
		}
		function showKiwi(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='kiwi']").parent().fadeToggle();
		}
		function showLila(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='lila']").parent().fadeToggle();
		}


		$("a#althea").bind('click', showAlthea);
		$("a#begonia").bind('click', showBegonia);
		$("a#camelia").bind('click', showCamelia);
		$("a#dhalia").bind('click', showDhalia);
		$("a#erica").bind('click', showErica);
		$("a#fuchsia").bind('click', showFuchsia);
		$("a#gardenia").bind('click', showGardenia);
		$("a#hortensia").bind('click', showHortensia);
		$("a#iris").bind('click', showIris);
		$("a#kiwi").bind('click', showKiwi);
		$("a#lila").bind('click', showLila);
		

	});
	
</script>
