<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag 'event_calendar' %>
<%= javascript_include_tag 'jquery' %>


	<div class="clear"> </div>
  	<div class="hr-invisible-small"> </div>



<div class="container">

	<div class="container" style="text-align:center;">
		<a href="#" id="althea" class='btn btn-large btn-success'>Althéa<br/>7/8p</a>
		<a href="#" id="begonia" class='btn btn-large btn-success' style="padding-left:10px;">Bégonia<br/>8p</a>
		<a href="#" id="camelia" class='btn btn-large btn-success' style="padding-left:10px;">Camélia<br/>2-4p</a>
		<a href="#" id="dahlia" class='btn btn-large btn-success' style="padding-left:10px;">Dahlia<br/>2-3p</a>
		<a href="#" id="erica" class='btn btn-large btn-success' style="padding-left:10px;">Erica<br/>2-3p</a>
		<a href="#" id="fuchsia" class='btn btn-large btn-success' style="padding-left:10px;">Fuchsia<br/>2-3p</a>
		<a href="#" id="gardenia" class='btn btn-large btn-success' style="padding-left:10px;">Gardénia<br/>2-4p</a>
		<a href="#" id="hortensia" class='btn btn-large btn-success' style="padding-left:10px;">Hortensia<br/>1-2p</a>
		<a href="#" id="iris" class='btn btn-large btn-success' style="padding-left:10px;">Iris<br/>5-6p</a>
		<a href="#" id="kiwi" class='btn btn-large btn-success' style="padding-left:10px;">Kiwi<br/>1-2p</a>
		<a href="#" id="lilas" class='btn btn-large btn-success' style="padding-left:10px;">Lilas<br/>2-3p</a>

	</div>

		<div class="hr-invisible-small"> </div>
		<div class="clear"> </div>

		<%= raw(event_calendar) %>


	<div class="container" style="width: 400px;">
		<p style="margin-top:25px;text-align:center;border-bottom:1px dashed green;font-weight:bold;">Légende</p>
		<div style="text-align:center;color:white;width:150px;background-color:green;margin-top:0px;padding-bottom: 4px;padding-top: 4px;">
			Gîte Disponible 
		</div>
		<div style="text-align:center;color:white;width:150px;background-color:red;float:right;margin-top:-22px;padding-bottom: 4px;padding-top: 4px;">
			Gîte Occupé
		</div>
	</div>

</div>

<div class="hr-invisible-small"> </div>



<script type="text/javascript">

	$(document).ready(function(){

		if ($('div.ec-row').size() == 6) {
			$(".ec-body").css({"height":"246px","overflow":"hidden"});
		} else {
			$(".ec-body").css({"height":"208px","overflow":"hidden"});
		}

		$(".ec-event").hide();

	});

</script>


<script type="text/javascript">

	$(document).ready( function () {

		function showAlthea(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='althea']").parent().fadeToggle();
		}
		function showBegonia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='begonia']").parent().fadeToggle();
		}
		function showCamelia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='camelia']").parent().fadeToggle();
		}
		function showDhalia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='dahlia']").parent().fadeToggle();
		}
		function showErica(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='erica']").parent().fadeToggle();
		}
		function showFuchsia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='fuchsia']").parent().fadeToggle();
		}
		function showGardenia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='gardenia']").parent().fadeToggle();
		}
		function showHortensia(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='hortensia']").parent().fadeToggle();
		}
		function showIris(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='iris']").parent().fadeToggle();
		}
		function showKiwi(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='kiwi']").parent().fadeToggle();
		}
		function showLila(e) {
			e.preventDefault();
			$(".ec-event").hide();
			$("*[data-gite='lilas']").parent().fadeToggle();
		}


		$("a#althea").bind('click', showAlthea);
		$("a#begonia").bind('click', showBegonia);
		$("a#camelia").bind('click', showCamelia);
		$("a#dahlia").bind('click', showDhalia);
		$("a#erica").bind('click', showErica);
		$("a#fuchsia").bind('click', showFuchsia);
		$("a#gardenia").bind('click', showGardenia);
		$("a#hortensia").bind('click', showHortensia);
		$("a#iris").bind('click', showIris);
		$("a#kiwi").bind('click', showKiwi);
		$("a#lilas").bind('click', showLila);
		

	});
	
</script>
