

					<div class="clear"> </div>
      				<div class="hr-invisible-small"> </div>

<div class="container" style="border:2px solid green;padding-bottom:30px;padding-top:30px;margin-top:30px;">
	<header class="page-header" style="text-align: center;"><h3 style="color: green;">Bienvenue sur la Page d'administration de Rouvignac !!</h3></header>

			<div style="margin: 0 auto; width: 800px;">
				<%= link_to "Modifier les events du Calendrier", "/events", :class => "btn btn-large btn-success", :style => "width:230px;" %> 
				<%= link_to "Modifier la Page Tarifs", "/editor/tarifs/1", :class => "btn btn-large btn-info", :style => "width:230px;" %> 
				<%= link_to "Modifier les Gîtes", "/gites", :class => "btn btn-large btn-warning", :style => "width:230px;"  %> 
			</div>

			<div style="margin: 0 auto; width: 800px;margin-top:5px;">
				<%= link_to "Modifier la Galerie de Photos", "/photos", :class => "btn btn-large btn-primary", :style => "width:758px;"  %>
			</div>

</div>


<div class="hr-invisible-small"> </div>