

					<div class="clear"> </div>
      				<div class="hr-invisible-small"> </div>

<div class="container">
	<header class="page-header" style="text-align: center;"><h3 style="color: green;">Bienvenue sur la Page d'administration de Rouvignac !!</h3></header>

			<div style="margin: 0 auto; width: 600px;">
				<%= link_to "Modifier le Calendrier", "/events", :class => "btn btn-large btn-success" %> 
				<%= link_to "Modifier la Page Tarifs", "/editor/tarifs/1", :class => "btn btn-large btn-info" %> 
				<%= link_to "Modifier les Gîtes", "/gites", :class => "btn btn-large btn-warning" %> 
			</div>

</div>


<div class="hr-invisible-small"> </div>