
@media screen and (max-width: 1120px) {
  nav#main-menu{
    ul li a{
      font-size: 0.8em !important;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.8em !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  nav#main-menu{
    ul li a{
      font-size: 0.8em !important;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.8em !important;
    }
  }
}

@media screen and (max-width: 960px) {
  nav#main-menu{
    ul li a{
      font-size: 0.5em !important;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.5em !important;
    }
  }
  p.phone-no{
    font-size: 0.7em !important;
    a{
      font-size: 0.7em !important;
    }
  } 
}