<!-- **Slider Section** -->
    	<section id="slider">
        
            <div id="layerslider-container-fw">    
                <div id="layerslider" style="width:100%; height:400px; margin:0px auto; ">
                        
                  <div class="ls-layer"  style="slidedirection:top; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; transition3d:all;">      
                  
                      <img alt="layer slider" src="http://placehold.it/1920x500.jpg" class="ls-bg">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/432x413.png/000000"  style="position:absolute; top:79px; left:468px; slidedirection:top;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/426x257.png/000000"  style="position:absolute; top:184.00001525878906px; left:634px; slidedirection:right;   durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/253x308.png/000000"  style="position:absolute; top:175.00001525878906px; left:296px; slidedirection:left;   durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                      <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/114x216.png/000000"  style="position:absolute; top:245.00001525878906px; left:452px; slidedirection:left;   durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <h2 class="ls-s-1" style="position:absolute; top:235px; left:-4px; slidedirection:left;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> 100% Fully Responsive </h2>
                        <div class="ls-s-1 button-text2"  style="position:absolute; top:283.00001525878906px; left:149px; display:block; slidedirection:bottom;  durationin:4000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0">
                        <a style=""> Grab it now </a>
                        </div>  
                    </div>        
                    
                    <div class="ls-layer"  style="slidedirection:right; slidedelay:6000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition3d:all;">
                    
                        <img alt="layer slider" src="http://placehold.it/1920x500.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/442x477.png/000000"  style="position:absolute; top:20px; left:20px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeOutBack; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <p class="ls-s-1" style="position:absolute; top:141px; left:548px; slidedirection:fade;  durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;  width:420px; height:200px; background:#ffffff;  white-space:nowrap;">&nbsp; </p>
                        <h3 class="ls-s-1" style="position:absolute; top:158px; left:570px; slidedirection:top;  durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Tons of HTML Elements </h3>
                        <p class="ls-s-1 text1" style="position:absolute; top:200.00001525878906px; left:571px; slidedirection:right;  durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; width:380px; "> Vivamus mattis, magna sed tempor pellentesque, leo nisl condimentum enim, sed condimentum neque libero a ante. Nulla id orci nulla. </p>
                        
                        <div class="ls-s-1 button-text"  style="position:absolute; top:288.00001525878906px; left:571px; display:block; slidedirection:bottom;  durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0">
                        <a style=""> Buy Now </a>
                        </div>        
                    </div>
                    
                    <div class="ls-layer"  style="slidedirection:top; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; timeshift:0; transition2d:all; ">
                    
                        <img alt="layer slider" src="http://placehold.it/1920x500.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/379x482.png/000000"  style="position:absolute; top:19px; left:75px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <h2 class="ls-s-1" style="position:absolute; top:147.00001525878906px; left:585px; slidedirection:top;  durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Multi Purpose HTML5 template </h2>
                        <h4 class="ls-s-1" style="position:absolute; top:196.00001525878906px; left:585px; slidedirection:right;  durationin:2500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> With a Clean & Modern design </h4>
                        <p class="ls-s-1 text2" style="position:absolute; top:238.00001525878906px; left:585px; slidedirection:bottom;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie nunc non erat eleifend sed laoreet
                          purus venenatis. Maecenas pretium orci at lacus volutpat id tempus velit pharetra. </p>         
                    
                    </div>
                  
                  
                  
                    <div class="ls-layer"  style="slidedirection:right; slidedelay:4000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition3d:all; ">
                    
                        <img alt="layer slider" src="http://placehold.it/1920x500.jpg" class="ls-bg">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/182x332.png/000000"  style="position:absolute; top:168px; left:17px; slidedirection:left;   durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/182x332.png/000000"  style="position:absolute; top:169px; left:232px; slidedirection:right;   durationin:2000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/608x499.png/000000"  style="position:absolute; top:5px; left:447px; slidedirection:bottom;   durationin:4000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <img alt="layer slider" class="ls-s-1"  src="http://placehold.it/328x27.png/000000"  style="position:absolute; top:46px; left:61px; slidedirection:top;   durationin:3000; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; ">
                        <h5 class="ls-s-1" style="position:absolute; top:85px; left:114px; slidedirection:fade;  durationin:3500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0;"> Lorem ipsum dolor sit </h5>        
                    
                    </div>
                        
                        
                </div>
            </div>
        </section><!-- **Slider Section - End** -->


