
<div class="container sale">

  <h4>Nous mettons en vente notre propriété le Hameau de Rouvignac à AVENE</h4>


  <p class="main_text">
  
    <strong>Rouvignac</strong> est un hameau de la commune d’Avène, au nord de l’Hérault, dans le Parc Naturel Régional du Haut-Languedoc.
    <br/>
    Il est situé à  8 kilomètres de l’établissement Thermal, une trentaine de kilomètres de Lodève (à l’est) et de Bédarieux (au sud), et à une quinzaine de kilomètres du centre bouddhiste de Lerab Ling, et des non-violents de la Communauté de l’Arche, fondée par Lanza del Vasto.
    <br/>
    Notre propriété (sur <strong>30 hectares</strong> de prés, de bois et de landes) comprend l’ensemble du hameau, à l’exclusion de l’église (désaffectée) et du vieux cimetière qui la jouxte (propriété de la commune d‘Avène). C’est un <strong>hameau en pierre</strong>, qui était en ruines lorsque nous l’avons découvert, et que nous avons progressivement restauré, en essayant de garder son cachet.
    <br/>
    Il comprend notre habitation principale (d’environ 320 m2) ainsi que onze gîtes ( d’environ 500 m2 ) et des ruines de caractère d’environ 500 m2 au sol. Plus loin, dans un pré, nous avons fait construire une maison moderne dotée de gîtes, et qui atteste de la constructibilité des terrains.
    <br/>
    Le total des habitations  <strong>(11 gîtes et notre maison)</strong> se monte à <strong>840 m2</strong>, plus quelques dépendances, comme la piscine (11 x 5) et son pool-house, un atelier, un petit chenil, un poulailler, une buanderie, quelques pièces de rangement…
    <br/>
    L’eau est fournie par un forage, et l’assainissement se fait au moyen de fosses septiques. Nous avons accès à internet haut débit par satellite.
    <br/>
    Bien évidemment ce hameau peut être porteur d'un potentiel important en terme de projets d'aménagements, de constructibilité, de lieux de convivialité, salles de conférences, projets d'activités : culturelles, sportives, lieu d'activités ludiques avec sa proximité du plan d'eau.
    <br/>
    Nous mettons en vente notre propriété dans son ensemble au prix de <strong>1 400 000 Euros</strong>.

  </p>
  
  <div class="link_to_photos">
    <%= link_to "Voir des photos", photos_path, class: "btn btn-success" %>
  </div>

</div>