@import "green/style";
@import "css/layerslider";
@import "css/font-awesome.min";
@import "css/prettyPhoto";
@import "css/tooltipster.main.min";
@import "full-calendar";

@import "compass";
@import "scaffold";
@import "shortcodes";
@import "style";
@import "zresponsive";
@import "btn";
@import "sprites";
@import "home";
@import "simple-responsive";
@import "bootstrap-grid";
@import "header";
@import "table";

.fc-toolbar .fc-right {
    float: right;
    margin-bottom: 10px;
}


@font-face {
  font-family: 'Chalkduster';
  src: font-url('Chalkduster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
