@import "green/style";
//@import "css/layerslider";
@import "css/font-awesome.min";
//@import "css/prettyPhoto";
//@import "css/tooltipster.main.min";
//@import "full-calendar";

@import "compass";
@import "scaffold";
//@import "shortcodes";
@import "style";
@import "zresponsive";
@import "btn";
@import "sprites";
@import "home";
@import "simple-responsive";
@import "bootstrap-grid";
@import "header";
@import "table";
@import "css/bootstrap-responsive.min";
@import "css/bootstrap.min";

.fc-toolbar .fc-right {
    float: right;
    margin-bottom: 10px;
}

ul{
  li{
    list-style-type: none;
  }
}

#main{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.twb_number_field{
  width: 97%;
  background: #ededed !important;
  border: 1px solid #c4c4c4 !important;
  color: #333334 !important;
  /*padding: 15px !important;*/
  height: 2em !important;
  display: block !important;
  font-size: 14px !important;
  margin: 10px 0 10px !important;
}

.twb_form_control{
  background: #ededed !important;
  border: 1px solid #c4c4c4 !important;
  color: #333334 !important;
  padding: 15px !important;
  display: block !important;
  font-size: 14px !important;
  margin: 10px 0 10px !important;
}

.submit_button{
  width: 97% !important;
  height: 3em;
}

