
.sale{
  h4{
    text-align: center;
    color: rgb(66, 109, 71);
    margin-top: 45px;
  }
  .main_text{
    text-align: justify;
  }
  p{
    line-height: 30px;
    margin-top: 30px;
  }
  .link_to_photos{
    margin-top: 30px;
    text-align: center;
    a{
      text-align: center;
      margin: auto;
      width: 300px;
    }
  }
}


