
@media screen and (max-width: 1200px) {
  nav#main-menu{
    ul li a{
      font-size: 0.8em;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 1024px) {
  nav#main-menu{
    ul li a{
      font-size: 0.8em;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 980px) {
  #logo h2 a {
    font-size: 0.7em;
  }
  nav#main-menu{
    ul li a{
      font-size: 0.46em;
    }
  }
  div.social-icons{
    a.btn{
      font-size: 0.5em;
      margin-right: 5px !important;
    }
  }
  p.phone-no{
    font-size: 0.7em !important;
    a{
      font-size: 1em !important;
    }
  }
}



@media screen and (max-width: 720px) {
  #logo h2 a {
    font-size: 0.7em;
  }
  nav#main-menu{
    ul li a{
      font-size: 0.45em;
    }
  }
  .social-icons{
    margin-top: -100px;
    a.btn{
      font-size: 0.1em;
    }
  }
  p.phone-no{
    font-size: 0.6em !important;
    background: none !important;
  }
  .countryflagse{
    margin-top: -250px;
  }
}
